/* body */
/* body {
  background-image: url(../images/backgrounds/pattern.png);
} */

.theme {
  @include themed() {
    background-color: t($body-colour);
  }
  overflow-x: hidden;
}

/* banner */
.banner {
  padding: 220px 0 120px;
  position: relative;
  @include desktop-lg {
    padding: 150px 0 100px;
  }
  @include desktop {
    padding: 20px 0 0;
  }

  .illustration {
    position: absolute;
    bottom: 0;
    right: 30px;
    @include desktop-xl {
      max-width: 600px;
    }
    @include desktop {
      display: none;
    }
  }
  .illustration-mobile {
    display: none;
    @include desktop {
      display: block;
    }
    padding: 40px;
  }
  .desktop-heading {
    @include desktop-xl {
      max-width: 600px;
    }
    @include desktop {
      display: none;
    }
  }
}

.media {
  .img-thumbnail {
    max-width: 150px;
    max-height: 150px;

    @include desktop {
      display: none;
    }
  }
}

.md__image {
  img {
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.alert-banner {
  color: antiquewhite;
  text-align: center;
  margin: auto;
}

/* blog */
.block {
  padding: 60px 60px 40px;
}

.author-thumb {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* pagination */
.pagination {
  justify-content: center;

  .page-item {
    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      @include themed() {
        color: t($text-colour);
      }
      border: 0;
      border-radius: 5px;

      &:hover {
        @include themed() {
          background: t($primary-colour);
          color: t($white);
        }
      }
    }

    &.active {
      .page-link {
        @include themed() {
          background: t($primary-colour);
          color: t($white);
        }
      }
    }
  }
}
.post-title:hover {
  text-decoration: underline;
}
.post-title {
  @include themed() {
    color: t($text-colour);
  }
}
.post-meta {
  color: #999;
  a {
    color: inherit;
    &:hover {
      @include themed() {
        color: t($primary-colour);
      }
    }
  }
}

.content {
  * {
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
  }

  li {
    @include themed() {
      color: t($text-colour-dark);
    }
  }

  ul {
    padding-left: 0;
    @include themed() {
      color: t($text-colour-alt);
    }

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 15px;
      list-style-type: none;


      &::before {
        position: absolute;
        content: "\e71b";
        font-family: $icon-font;
        font-size: 14px;
        left: 0;
        top: 1px;
        @include themed() {
          color: t($primary-colour);
        }
        transition: 0.3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    border: 1px solid #dee2e6;

    th,
    td {
      padding: 0.75rem;
      vertical-align: top;
      border: 1px solid #dee2e6;
    }

    tbody {
      @include themed() {
        background: t($light);
      }

      td {
        text-align: left !important;
      }
    }
  }

  blockquote {
    padding: 20px;
    @include themed() {
      background: t($light);
      border-left: 3px solid t($primary-colour);
    }

    p {
      margin-bottom: 0;
      @include themed() {
        color: t($text-colour-dark);
      }
      font-style: italic !important;
    }
  }

  pre {
    padding: 10px 20px;
    @include themed() {
      background: t($light);
    }

    code {
      border: 0;
      background: transparent;
      padding: 0;
    }
  }

  a {
    @include themed() {
      color: t($text-colour-dark);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    padding: 3px 5px;
    @include themed() {
      background: t($light);
      border: 1px solid t($border-colour);
      color: t($text-colour-dark);
    }
    border-radius: 3px;
  }
}

/* social icon */
.social-icon {
  a {
    height: 45px;
    width: 45px;
    @include themed() {
      border: 1px solid t($primary-colour);
      color: t($primary-colour);
      &:hover {
        background: t($primary-colour);
        color: t($white);
      }
    }
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    display: block;
  }
}

/* nav tab */
.nav-tab {
  .nav-link {
    padding: 15px;
    @include themed() {
      color: t($text-colour);
    }
    border-radius: 5px;
    &.active {
      @extend .shadow;
      @include themed() {
        color: t($white);
        background: t($primary-colour);
      }
    }
  }
}
