<player class="col-md-4 p-1">
  <div class="card h-100">
    <a href="{{.Permalink}}">
      <img class="card-img-top img-thumbnail .img-fluid" style="object-fit: cover;  height:300px; overflow:hidden;"
        src="{{ .Params.mug_shot | relURL }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{.Params.title}} <span style="float:right;">{{.Params.kit_number}}</span></h5>
        <p class="card-text">{{.Params.position}}</p>
            {{ range .Params.teams }}
            <span class="badge bg-primary text-light">{{.}}</span>
          {{ end }}
          {{ if eq .Params.active false }}
            <span class="right-alert">Retired</span>
          {{ end }}
      </div>
    </a>
  </div>
</player>
