{{ define "main" }}
{{ $script := .Site.Data.webpack.squad }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
<
<section class="section">
  {{ $appearances := .Site.Data.stats.appearances }}
  {{ $years := slice }}

  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-8">

        <!-- Description Card -->
        <div class="card">
          <img class="card-img-top" src="{{ .Params.mug_shot | relURL }}" alt="{{.Params.title}}">
          <div class="card-body">
            <h5 class="card-title">{{.Params.title}} | {{.Params.kit_number}}</h5>
            <p class="card-text">{{.Params.blurb}}</p>
            <div id ="lifetime-stats" data-kit="{{.Params.kit_number}}"
              data-years="{{ .Params.year_joined}}" data-name="{{.Params.Title}}">
          </div>
        </div>
        <br>
        <!-- Awards Card -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Awards</h5>
            <ul class="list-group">
              {{ range sort .Site.Data.stats.awards "award"}}
              {{ if eq .player $.Params.title }}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ if eq .award "Glassman" }}
                <img src="/images/svgs/injury.svg" width=50>
                {{ else if eq .award "Frother of the Year" }}
                <img src="/images/svgs/frother_logo.svg" width=50>
                {{ else if eq .award "MVP" }}
                <img src="/images/svgs/gold-winner-trophy.svg" width=50>
                {{ else if eq .award "Golden Boot" }}
                <img src="/images/svgs/accurate-targeting.svg" width=50>
                {{ else if eq .award "Stormtrooper" }}
                <img src="/images/svgs/stormtrooper.svg" width=50>
                {{ else if eq .award "Goal of the Season" }}
                <img src="/images/svgs/ball-football.svg" width=50>
                {{ else if eq .award "Most Improved Player" }}
                <img src="/images/svgs/tree.svg" width=50>
                {{ else if eq .award "Best Rookie" }}
                <img src="/images/svgs/baby-face.svg" width=50>
                {{ else if eq .award "Freeman" }}
                <img src="/images/svgs/empty-beer.svg" alt="Forgot the beers" width=50>
                {{ else if eq .award "Goon" }}
                <img src="/images/svgs/boxer.svg" alt="Team Bruiser" width=50>
                {{ else if eq .award "Academy Award" }}
                <img src="/images/svgs/oscar.svg" width=50>
                {{ else }}
                <img src="/images/svgs/gold-winner-trophy.svg" width=50>
                {{ end }}
                <span class="badge badge-primary badge-pill" id="appearances">
                  {{ .award }} - {{ .year }} Season
                </span>
              </li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
        <br>
        
        <!-- Stats -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Frothers Career Stats</h5>
            <div id="app" data-player-name="{{ .Params.Title }}"
              data-years="{{ $years | jsonify}}" data-appearances="{{ $appearances | jsonify}}">
            </div>
            <br>
            <a href="/stats/" class="card-link">Team stats page</a>
          </div>
        </div>
        <!-- Stats -->
        <br>

        <!-- Carousel -->
        {{- partial "carousel.html" . -}}
        <br>

        <!--Fut Card -->
        {{ if (.Params.fut_card) }}
        <div class="card">
          <img class="card-img-top" src="{{ .Params.fut_card | relURL }}" alt="{{.Params.title}}">
        </div>
        {{ end }}
        <!--/Fut Card -->
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
{{ end }}