/*  Dark */
$primary-color: #a094e6; // #7f75af;
$secondary-color:  #4f458a;
$alert-color: #f03a47;
$text-color: #e6e6e6;
$text-color-dark: #a094e6;
$body-color: #312b54;
$border-color: #3a3c3d;
$secondary-background-color: #524a7c;
$black: #000;
$white: #fff;
$light: #524a7c;
$pitch-background-dark: green;
$pitch-background-light: rgb(67, 151, 67);
$pitch-background-grey: rgb(98, 100, 98);

$light-colour-50: "#EEF1FC";
$light-colour-100: "#D9DEF7";
$light-colour-200: "#B7C1F0";
$light-colour-300: "#91A1E9";
$light-colour-400: "#6F84E2";
$light-colour-500: "#4863DA";
$light-colour-600: "#2744C3";
$light-colour-700: "#1D3290";
$light-colour-800: "#142262";
$light-colour-900: "#09102F";
$light-colour-950: "#050919";

$dark-colour-50: "#F4F3FC",
$dark-colour-100: "#EDEAFA";
$dark-colour-200: "#DAD6F5";
$dark-colour-300: "#C4BDF0";
$dark-colour-400: "#B2A8EB";
$dark-colour-500: "#A094E6";
$dark-colour-600: "#6956D7";
$dark-colour-700: "#3F2BB6";
$dark-colour-800: "#2B1D7C";
$dark-colour-900: "#160E3E";
$dark-colour-950: "#0A071D";

/*  Light */
// $primary-color: #4863da;
// $secondary-color: #9AC4F8;
// $alert-color: #f03a47;
// $text-color: #666666;
// $text-color-dark: #222222;
// $body-color: #fff;
// $border-color: #ACB9C4;
// $secondary-background-color: #3074db;
// $black: #000;
// $white: #fff;
// $light: #F8F8F8;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';