/*  Dark */
$light-colour-50:  #E5ECFA;
$light-colour-100: #CBD9F6;
$light-colour-200: #9BB5ED;
$light-colour-300: #678FE4;
$light-colour-400: #3368DB;
$light-colour-500: #2050B4;
$light-colour-600: #193F8F;
$light-colour-700: #132F6C;
$light-colour-800: #0D204A;
$light-colour-900: #060F23;
$light-colour-950: #030811;

$dark-colour-50:  #E6E4F1;
$dark-colour-100: #D0CCE5;
$dark-colour-200: #A19ACB;
$dark-colour-300: #7267B1;
$dark-colour-400: #4F4587;
$dark-colour-500: #312B54;
$dark-colour-600: #272343;
$dark-colour-700: #1E1A33;
$dark-colour-800: #141122;
$dark-colour-900: #0A0911;
$dark-colour-950: #040307;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';