/*  Dark */
$primary-color: #a094e6; // #7f75af;
$secondary-color:  #4f458a;
$alert-color: #f03a47;
$text-color: #e6e6e6;
$text-color-dark: #a094e6;
$body-color: #312b54;
$border-color: #3a3c3d;
$secondary-background-color: #524a7c;
$black: #000;
$white: #fff;
$light: #524a7c;
$pitch-background-dark: green;
$pitch-background-light: rgb(67, 151, 67);
$pitch-background-grey: rgb(98, 100, 98);


/*  Light */
// $primary-color: #4863da;
// $secondary-color: #9AC4F8;
// $alert-color: #f03a47;
// $text-color: #666666;
// $text-color-dark: #222222;
// $body-color: #fff;
// $border-color: #ACB9C4;
// $secondary-background-color: #3074db;
// $black: #000;
// $white: #fff;
// $light: #F8F8F8;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';