// Shortcuts
$primary-colour: 'primary-colour'; // #7f75af;
$secondary-colour:  'secondary-colour';
$text-colour: 'text-colour';
$text-colour-dark: 'text-colour-dark';
$text-colour-alt: 'text-colour-alt';
$body-colour: 'body-colour';
$border-colour: '$border-colour';
$background-colour: 'background-colour';
$secondary-background-colour: 'secondary-background-colour';
$black: 'black';
$white: 'white';
$light: 'light';
$alert-colour: 'alert-colour';
$pitch-background-dark: 'pitch-background-dark';
$pitch-background-light: 'pitch-background-light';
$pitch-background-grey: 'pitch-background-grey';
$sleeves-url: 'sleeves';
$logo-url: 'logo';
$logo-sm-url: 'logo-sm';
$logo-mid-url: 'logo-mid';
$kick-url: 'kick';

$theme-map: () !global;
$themes: (
  default: (
    logo: url("/images/svgs/dark/frothers_logo_2025.svg"),
    logo-sm: url("/images/svgs/dark/frothers_logo_2025_50.svg"),
    logo-mid: url("/images/svgs/light/frothers_logo_2025_300.svg"),
    sleeves: url("/images/svgs/light/sleeves.svg"),
    kick: url("/images/svgs/light/highkick.svg"),
    primary-colour: $dark-colour-800,
    secondary-colour:  $dark-colour-200,
    text-colour: $dark-colour-700,
    text-colour-dark: $dark-colour-200,
    text-colour-alt: $dark-colour-500,
    body-colour: $dark-colour-100,
    border-colour: $dark-colour-300,
    background-colour: $dark-colour-500,
    secondary-background-colour: $dark-colour-700,
    black: $dark-colour-950,
    white: $dark-colour-50,
    light: $dark-colour-400,
    alert-colour: #f03a47,
    pitch-background-dark: green,
    pitch-background-light: rgb(67, 151, 67),
    pitch-background-grey: rgb(98, 100, 98),
  ),
  dark: (
    logo: url("/images/svgs/dark/frothers_logo_2025.svg"),
    logo-sm: url("/images/svgs/dark/frothers_logo_2025_50.svg"),
    logo-mid: url("/images/svgs/dark/frothers_logo_2025_400.svg"),
    sleeves: url("/images/svgs/dark/sleeves.svg"),
    kick: url("/images/svgs/dark/highkick.svg"),
    primary-colour: $dark-colour-800,
    secondary-colour:  $dark-colour-700,
    text-colour: $dark-colour-100,
    text-colour-dark: $dark-colour-200,
    text-colour-alt: $dark-colour-400,
    body-colour: $dark-colour-500,
    border-colour: $dark-colour-800,
    background-colour: $dark-colour-500,
    secondary-background-colour: $dark-colour-700,
    black: $dark-colour-950,
    white: $dark-colour-50,
    light: $dark-colour-400,
    alert-colour: #f03a47,
    pitch-background-dark: green,
    pitch-background-light: rgb(67, 151, 67),
    pitch-background-grey: rgb(98, 100, 98),
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}


@function t($key) {
  @if type-of($theme-map) == map {
    @return map-get($theme-map, $key);
  } @else {
    @warn "Error: `$theme-map` is not a map.";
    @return null;
  }
}

