
.graph {
  height:60vh;
 }

section .section-title {
  text-align: center;
  // color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#tabs{
// background: #007b5e;
  color: $primary-color;
}
#tabs h6.section-title{
  color: $primary-color;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  font-size: 20px;
}

.green-field-stripe {
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent transparent #f3f3f3;
  min-height: 60px;
  background-color: $pitch-background-dark;
}

.white-field-stripe {
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent transparent #f3f3f3;
  min-height: 60px;
  background-color: $pitch-background-light;
}

.subs-bench {
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent transparent #f3f3f3;
  min-height: 60px;
  background-color: $pitch-background-grey;
}


.footy-field {
 color: honeydew;
 font-size: x-small;
 text-align: center;
}