div.squad-bench {
  @include themed() {
    color: t($text-colour);
    background-color: t($pitch-background-grey);
  }
}

div.squad-position {
  @include themed() {
    color: t($text-colour);
  }
  background-color: blue;
}

div.squad-player {
  @include themed() {
    color: t($text-colour);
  }
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent transparent #f3f3f3;
  min-height: 60px;
  text-align: center;
  cursor: move;
  @include mobile {
    font-size: xx-small;
  }
}

.squad-player img {
  width: 40px;
  @include mobile {
    width: 20px;
  }
}

div.squad-pitch {
  width: 80%;
  height: 600px;
  border: 1px;
  position: static;
  @include themed() {
    border-color: t($secondary-colour);
  }
}

.player-roster {
  @include themed() {
    border-color: transparent transparent t($secondary-colour);
    background-color: t($secondary-colour);
  }
}

.player-roster .row {
  padding: 1rem 0 0 0;
}

.player-roster .btn {
  margin: 0 2px;
}

.dustbin {
  // height: 5rem;
  width: 100%;
  height: 100%;
  color: white;
  padding: 1rem;
  text-align: center;
  @include themed() {
    background-color: t($secondary-background-colour);
  }
}

.form-control {
  @include themed() {
    background-color: t($secondary-background-colour);
    color: t($text-colour);
  }
  padding: 3px 0;
}

.modal-content {
  @include themed() {
    background-color: t($secondary-background-colour);
  }
}

.App {
  height: 700 px;
}
