div.squad-bench {
  color: $text-color;
  background-color: $pitch-background-grey;
}

div.squad-position {
  color: $text-color;
  background-color: blue;
}

div.squad-player {
  color: $text-color;
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent transparent #f3f3f3;
  min-height: 60px;
  text-align: center;
  cursor: move;
}


div.squad-pitch {
  width: 80%;
  height: 600px;
  border: 1px;
  position: static;
  border-color: $secondary-color;
}

.player-roster{
  border-color: transparent transparent $secondary-color;
  min-height: 30px;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.dustbin{
  height: 5rem;
  width: 8rem;
  margin: 1.5rem 0;
  color: white;
  padding: 1rem;
  text-align: center;
  float: 'left';
  background-color: $secondary-background-color;
}