div.squad-bench {
  color: $text-color;
  background-color: $pitch-background-grey;
}

div.squad-position {
  color: $text-color;
  background-color: blue;
}

div.squad-player {
  color: $text-color;
  background-color: purple;
}


div.squad-pitch {
  width: 80%;
  height: 400px;
  border: 1px;
  position: static;
  border-color: $secondary-color;
}

.player-roster{
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent transparent $secondary-color;
  min-height: 60px;
  background-color: $secondary-color;
}