{{ define "main" }}
{{ $appearances := .Site.Data.stats.appearances }}

<div class="text-center">
  <h2>Frothers Statistics</h2>
</div>

<section id="tabs" data-appearances="{{ $appearances | jsonify}}">
  x
  <div class="container">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="yearSelect">Year</label>
        </div>
        <select class="custom-select" id="yearSelect">
          <option value="2023-winter-ogfrothers" selected>2023 - Winter (OG Frothers)</option>
          <option value="2022-winter-ogfrothers">2022 - Winter (OG Frothers)</option>
          <option value="2021-summer-foamgenerators">2021 - Summer (Foam Generators)</option>
          <option value="2021-summer-ogfrothers">2021 - Summer (OG Frothers)</option>
          <option value="2021-winter-ogfrothers">2021 - Winter (OG Frothers)</option>
          <option value="2020-winter-ogfrothers">2020 - Winter (OG Frothers)</option>
          <option value="2019-winter-ogfrothers">2019 - Winter (OG Frothers)</option>
          <option value="all">All Time</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-goals-tab" data-toggle="tab" href="#nav-goals" role="tab"
              aria-controls="nav-goals" aria-selected="true">Goals</a>
            <a class="nav-item nav-link" id="nav-appearances-tab" data-toggle="tab" href="#nav-appearances" role="tab"
              aria-controls="nav-appearances" aria-selected="false">Appearances</a>
            <a class="nav-item nav-link" id="nav-points-tab" data-toggle="tab" href="#nav-points" role="tab"
              aria-controls="nav-points" aria-selected="false">Points</a>
            <a class="nav-item nav-link" id="nav-cleansheet-tab" data-toggle="tab" href="#nav-cleansheet" role="tab"
              aria-controls="nav-cleansheet" aria-selected="false">Clean Sheets</a>
          </div>
        </nav>
        <div class="tab-content py-4 px-4 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-goals" role="tabpanel" aria-labelledby="nav-goals-tab">
            <div class="text-center graph">
              <div id="stats-panel"></div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-appearances" role="tabpanel" aria-labelledby="nav-appearances-tab">
            <div class="text-center graph">
              {{/*  <div id="appearances-panel"></div>  */}}
            </div>
          </div>
          <div class="tab-pane fade" id="nav-points" role="tabpanel" aria-labelledby="nav-points-tab">
            <div class="text-center graph">
              <div id="results-panel"></div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-cleansheet" role="tabpanel" aria-labelledby="nav-cleansheet-tab">
            <div class="text-center graph">
              <div id="cleansheet-panel"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

</section>
<div id="appearances-panel"></div>

{{ $script := .Site.Data.webpack.stats }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}

{{ end }}