<!-- Squad -->
{{ if isset .Params "xi_and_subs" }}
<div class="container footy-field">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col green-field-stripe">
        </div>
        <div class="col white-field-stripe">
        </div>
        <div class="col green-field-stripe">
            <img src="/images/frothers-goalie_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 0 }}</div>
        </div>
        <div class="col white-field-stripe">
        </div>
        <div class="col green-field-stripe">
        </div>
        <div class="col"></div>
    </div>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col green-field-stripe">
            <img src="/images/frothers_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 1 }}</div>
        </div>
        <div class="col white-field-stripe">
            <img src="/images/frothers_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 2 }}</div>
        </div>
        <div class="col green-field-stripe">
        </div>
        <div class="col white-field-stripe">
            <img src="/images/frothers_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 3 }}</div>
        </div>
        <div class="col green-field-stripe">
            <img src="/images/frothers_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 4 }}</div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col green-field-stripe">
            <div><img src="/images/frothers_jersey.png" width=50></div>
            <div>{{ index ($.Params.xi_and_subs) 5 }}</div>
        </div>
        <div class="col white-field-stripe">
            <img src="/images/frothers_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 6 }}</div>
        </div>
        <div class="col green-field-stripe">
        </div>
        <div class="col white-field-stripe">
            <img src="/images/frothers_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 7 }}</div>
        </div>
        <div class="col green-field-stripe">
            <img src="/images/frothers_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 8 }}</div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col green-field-stripe">
        </div>
        <div class="col white-field-stripe">
            <img src="/images/frothers_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 9 }}</div>
        </div>
        <div class="col green-field-stripe">
        </div>
        <div class="col white-field-stripe">
            <img src="/images/frothers_jersey.png" width=50>
            <div>{{ index ($.Params.xi_and_subs) 10 }}</div>
        </div>
        <div class="col green-field-stripe">
        </div>
        <div class="col"></div>
    </div>
</div>
{{ end }}